[
    { rabbit, [
        { auth_backends, [ rabbit_auth_backend_http ] },
        { loopback_users, [ ] },
        { tcp_listeners, [ 5672 ] },
        { ssl_listeners, [ ] },
        { default_user, <<"admin">> },
        { default_pass, <<"admin">> },
        { hipe_compile, false }
    ] },

    % { rabbitmq_management, [ { listener, [
    %     { port, 15672 },
    %     { ssl, false }
    % ] } ] },

    { rabbitmq_auth_backend_http, [
        { http_method,   post },
        { user_path,     "http://ui:8080/api/broker/user" },
        { vhost_path,    "http://ui:8080/api/broker/vhost" },
        { resource_path, "http://ui:8080/api/broker/resource" },
        { topic_path,    "http://ui:8080/api/broker/topic" }
    ] }
].
